<div class="container pt-5">
    <a class="btn btn-primary btn-circle btn-circle-lg m-1" href="/" ><i class="fa fa-home"></i></a> 
    <h1 class="text-center">{{name}}</h1>
    <h4 class="text-center">{{text}}</h4>
    <br>
    <br>
    <div class="text-center">
        <a href="?microphone=true"><button type="button" class="btn btn-secondary p-3 round"><i class="icon-microphone icon-3x"></i></button></a>
        <br>
        <br>
        <p class="{{speechAsTextClass}}">You said: {{speechAsText}}</p>
    </div>
</div>
