<div class="pt-5 text-center">
  <h1>You are currently signed is as {{username}}</h1>
  <h5>Would you like to logout?</h5>
  <form action="/logout" method="get">
    <input type="submit" class="btn btn-primary" name="logout" value="Logout"/>
  </form>
</div>
