<div class="container ">
    <h1 class="text-center pt-5">Prompts</h1>
    <a class="btn btn-primary btn-circle btn-circle-lg m-1" href="/" ><i class="fa fa-home"></i></a> 
    
    <table class="table">
        <thead> 
            <th>Name</th> 
            <th>Text</th> 
        </thead> 
        <tbody> 
            {{#each prompts}} 
            <tr> 
                <td><a href="/prompts/{{id}}">{{name}}</a></td> 
                <td>{{text}}</td> 
            </tr> 
            {{/each}} 
        </tbody> 
    </table> 
    <h5>Current Language: {{language}}</h5>   
</div>
