<div class="container text-center">
  <h1 class="pt-5"><b><i>Loquela</i></b></h1>
  <h5 class="pt-3">Welcome, {{username}}!</h5>
  <br>
  <form class="surveyForm" action="/survey" method="post">
    <select class="surveySelect" name="language" required>
      <option value="" selected disabled hidden>Select Language</option>
      <option value="English">English</option>
      <option value="Spanish">Spanish</option>
      <option value="French">French</option>
      <option value="Pig Latin">Pig Latin</option>
    </select>
    <br>
    <br>
    <select class="surveySelect" name="difficulty" required>
      <option value="" selected disabled hidden>Select Difficulty</option>
      <option value="Beginner">Beginner</option>
      <option value="Intermediate">Intermediate</option>
      <option value="Advanced">Advanced</option>
    </select>
    <br>
    <br>
    <select class="surveySelect" name="topic" required>
      <option value="" selected disabled hidden>Select Topic</option>
      <option value="Art">Art</option>
      <option value="Music">Music</option>
      <option value="History">History</option>
      <option value="Common Phrases">Common Phrases</option>
    </select>
    <br>
    <br>
    <input type="submit" class="btn btn-primary" name="submit" value="Start Lesson!">
  </form>
</div>
