<div class="container ">
    <h1 class="text-center pt-5">Users</h1>
    <a class="btn btn-primary btn-circle btn-circle-lg m-1" href="/" ><i class="fa fa-home"></i></a>   
    <table class="table">
        <thead> 
            <th>ID</th> 
            <th>Username</th> 
            <th>Email</th>
        </thead> 
        <tbody> 
            {{#each allUsers}} 
            <tr> 
                <td>{{id}}</td> 
                <td>{{username}}</td> 
                <td>{{email}}</td> 
            </tr> 
            {{/each}} 
        </tbody> 
    </table>  

    
</div>






